*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}
body{
    width: 100%;
    height: 100vh;
    display: flex; 
    background: var( --background)
}

/*logo header*/
header{
    width: 80%;
    display: flex;
}
header nav{
    align-items: flex-start;
}
header nav img{
    width: 150px;
}
/*Main*/

main{
    min-width: 590px;
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content:space-around;
}

main .container{
   
    background: var(  --form-background);
    width: 500px;
    height:500px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}
main .container .content {

    height: 380px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
  
}

/*Form-titles*/
.content  .title{
    display: flex;
    margin-bottom: 5px;
    color:var(--text-title);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight:600;
    
}
.content .title p{
    color:var(--text-title);
    font-family: 'Poppins', sans-serif;
}
.content .title img {
    margin-right: 10px;
}
.content .title-up{
    margin-bottom: 20px;
    margin-left:-50px

}
.content .title-up span{
    font-size:16px;
    color: var(--text-base);
    font-family: 'Roboto', sans-serif;

}
.content p{
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--primary-color)
}
.content p a{
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
   
}
.content p a:hover{
    text-decoration: underline
}
/*Form-Inputs*/
.form{
    
    display: flex;
    flex-direction: column;
    justify-content:center;

    width: 340px;
}
.form .mail{
    position: relative;
    width:22px;
    top: -32px;
    left: 10px;
}

.form .password{
    position: relative;
    width:22px;
    top: -35px;
    left: 10px;
}
.form .password-view {
    position: relative;
    width:22px;
    top: -55px;
    left: 305px;
    cursor: pointer; 
}
.form .label{
   
    color:var(--text-base);
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    font-weight: 400;
}
.form input[type="password"],
.form input[type="text"]{
    border: 1px solid var(--text-base);
    border-radius: 5px;
    background: none;
    height:44px;
    color: var(--text-base);
    padding-left: 40px;
    
}
.form input[type="password"]:focus-within,
.form input[type="text"]:focus-within{
    border: 1px solid var(--primary-color);
    outline-color: var(--primary-color);
  
}
.form input[type="text"]:focus-within+.mail,
.form input[type="password"]:focus-within+.password {
    fill: var(--primary-color);
    stroke:var(--primary-color);
    filter: invert(82%) sepia(58%) saturate(500%) hue-rotate(333deg) brightness(112%) contrast(104%);
}
.form .checkbox{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    align-items:center;
    margin-bottom:20px;
    margin-top:-20px;
    
}
.form .checkbox .box{

width:200px;
display: flex;
align-items: center;

    
}
.form .checkbox .box input[type="checkbox"]:checked{
    color: var(--primary-color)
}
.form .checkbox .box label{
    
    color:var(--text-base);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 5px;
      
 }

 .form .checkbox a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: var(--primary-color)

      
 }
 .form .checkbox a:hover{
     text-decoration: underline
 }
button{
    background-color: var(--primary-color);
    border:none;
    border-radius:5px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom:14px;
    cursor: pointer;
   

}
button:hover{
    transform:translateY(2%);
 
}
/*img aside*/
aside{
    width: 50%;
   min-width: 500px;
}

.banner{
    background-image: url('../images/side-image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    filter:  saturate(190%)

}

/*scrren*/
@media(max-width: 1024px) {
    .banner {
      display: none;
    }
   body{
       justify-content:center;
   }
   main{
    width: 100%;
   }
   
}
@media(max-width: 650px){  
     main .container{  
        width: 400px;
        
     }
   

}
